## =========================

## Build results

## =========================

bin/
obj/
out/

## =========================

## User-specific files

## =========================

*.user
*.rsuser
*.suo

## =========================

## Logs

## =========================

*.log

## =========================

## VS Code

## =========================

.vscode/

## =========================

## OS files

## =========================

.DS_Store
Thumbs.db

## =========================

## Test results

## =========================

TestResults/

## =========================

## Environment variables

## =========================

.env
.env.*
!.env-template

## =========================

## NuGet

## =========================

*.nupkg
packages/

## =========================

## Temporary files

## =========================

*.tmp
*.temp
